@import url('https://fonts.googleapis.com/css?family=Nunito');

body {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 100px;
}

header {
  position: fixed;
  width: 100%;
  background: #fff;
  overflow: hidden;
  top: 0px
}

nav ul {
  float: right;
}

nav li {
  display: inline;
  float: left;
  list-style: none;
}

nav a {
  display: inline-block;
  color: #586871;
  text-decoration: none;
  padding: 15px 40px 15px 40px;
  margin: 0 10px 0 10px;
}

nav a:hover, .menu-selected {
  background: #6078EA;
  color: white;
  border-radius: 10px;
}

.logo {
  padding: 25px;
  float: left;
  color: #586871;
  font-size: 2em;
  line-height: 50px;
}

section {
  display: block;
  overflow: auto;
  padding: 2em;
  margin: 2em;
}


.main-page {
  padding: 10em;
  background-color: white;
  font-weight: bold;
  color: #586871;
}

.main-page h1 {
  font-size: 4em;
}

.main-page p {
  font-size: 2em;
}

.button-primary {
  color: white;
  background-image: linear-gradient(to bottom right,#17EAD9,#6078EA);
  text-decoration: none;
  padding: 1em 2em 1em 2em;
  font-size: 1.1em;
  font-weight: bold;
  border-radius: 40px;
}

.author {
  display: flex;
  flex-direction: column;
}
